/* Pretty printing styles. Used with prettify.js. */

.str { color: #4C4; }
.kwd { color: #44C; }
.com { color: #C44; }
.typ { color: #C6C; }
.lit { color: #6CC; }
.pun { color: #CC6; }
.pln { color: #CCC; }
.tag { color: #66C; }
.atn { color: #C6C; }
.atv { color: #4C4; }
.dec { color: #C6C; }

pre.prettyprint { font: 10pt "Consolas", "Monaco", "Lucida Console", monospace; padding: 2px; border: 1px solid #888; }

@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}
